$base-font-size = 14px

// Grid
rupture.hd-cutoff      = 1440px
rupture.desktop-cutoff = 1280px
rupture.tablet-cutoff  = 1025px
rupture.mobile-cutoff  = 767px

rupture.base-font-size = $base-font-size
rupture.scale 	       = 0 (rupture.mobile-cutoff) rupture.tablet-cutoff rupture.desktop-cutoff rupture.hd-cutoff